/* * {
  border: 2px solid #333;
} */

body {
    font-size: calc(16px + 0.5vw);
}

body {
  background-color: #f0f0f0; /* light mode */
}

.dark-mode {
  background-color: #333; /* dark mode */
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header-container, .footer-container {
  padding: 1em;
  border: 1px solid aliceblue;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.welcome {
  display: grid;
  justify-content: center;
}

.welcome h1, .welcome p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.about-us section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.about-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-items section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.footer-container {
  padding: 1em;
}

.footer-contact, .footer-copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#theme-toggle {
  cursor: pointer;
  font-size: 1.5em;
}

.contact-info {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info li {
  font: 1em;

}